body{
  font-family: Arial;
  margin:0;
}

.navbar{
  background:#222;
  padding:15px;
}

.navbar a{
  color:white;
  margin-right:20px;
  text-decoration:none;
}

.navbar a:hover{
  color:orange;
}

.form-container{
  width:300px;
  margin:50px auto;
  text-align:center;
}

input{
  width:100%;
  padding:10px;
  margin:10px 0;
}

button{
  padding:10px 20px;
}